name: check_branch

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'environment'
        type: choice
        default: 'dev'
        required: true
        options:
          - dev
          - prd

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: echo refs
        run: |
          echo '1' $GITHUB_REF
          echo '2' ${{ github.ref }}
          echo '3' ${{ github.ref_name }}
          echo '4' ${{ github.head_ref }}
          echo '5' ${{ github.base_ref }}
      - name: check authorized branch
        id: check-authorized-branch
        if: inputs.environment == 'prd'
        run: |
          echo ${{ github.ref_name }}
          if [[ ${{ github.ref_name }} =~ ^feat/sub[02]+$ ]]; then
          # if [[ ${{ github.ref_name }} =~ ^v[0-9]+\.[0-9]+/production$ ]]; then
            echo "authorized=true" >> $GITHUB_OUTPUT
          fi
      - name: exit if unauthorized branch
        if: inputs.environment == 'prd' && steps.check-authorized-branch.outputs.authorized != 'true'
        run: |
          echo "::error ::Unauthorized branch name. Branch must not be feat/sub1"
          exit 1
      - name: succeed
        run: |
          echo 'success'

  next:
    runs-on: ubuntu-latest
    needs:
      - echo
    steps:
      - name: succeed
        run: |
          echo 'success'
